<app-picture></app-picture>

<!--
<main>
  <div class="tile tile-1">tile-1</div>
  <div class="tile tile-2">tile-2</div>
  <div class="tile tile-3">tile-3</div>
  <div class="tile tile-4">tile-4</div>
  <div class="tile tile-5">tile-5</div>
</main>-->
