.picture {
  width: 100px;
  height: 100px;
  background-color: #3a6c95;
  border-radius: 5px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  line-height: 100px;
}

.button {
  background-color: white;
  padding: 5px 10px;
  border: 2px steelblue solid;
  border-radius: 2px;
  color: steelblue;
}
.button--2 {
  margin-bottom: 10px;
}

.buttons--picture {
  margin-bottom: 15px;
}

.col {
  width: 49.8%;
  display: inline-block;
  overflow: hidden;   
  vertical-align: top;
}

.picture-text {
  font-size: 26px;
}