<div class="col">
  <button class="button button--2" (click)="togglePopOver()">Toggle PopOver</button>
  <div class="picture" [@popOverAnimation]="getPopOverState()">
    Picture
  </div>
  <hr>
  <div class="buttons--picture">
    <button class="button" (click)="toggleMove()">Toggle move</button>
    <button class="button" (click)="toggleEnlarge()">Toggle enlarge</button>
    <button class="button" (click)="toggleSpin()">Toggle spin</button>
  </div>
  <div class="picture" [@photoAnimation]="getPhotoState()">
    Photo
  </div>
  <hr>
  <button class="button button--2" (click)="toggleJump()">Toggle jump</button>
  <div class="picture" [@jumpAnimation]="getjumpState()">
    Picture
  </div>
  <hr>
  <button class="button button--2" (click)="togglePopOverCallbacks()">Toggle PopOverCallbacks</button>
  <div class="picture" [@popOverCallbacksAnimation]="getPopOverCallbacksState()" (@popOverCallbacksAnimation.start)="popOverOnStartMessage($event)" (@popOverCallbacksAnimation.done)="popOverOnEndMessage($event)">
    Picture
  </div>
  <hr>
  <div>
    <span>Podaj wielkosc przesunięcia  od lewej krawedzi: </span><input type="number" class="button" #moveDistance> <input type="button" class="button" value="test" (click)="switchMoveWithParamsState()">  
    <div class="picture" [@moveWithParamsAnimation]="{ value: getMoveWithParamsState(), params: { 'moveDistance': (moveDistance.value || 0) } }">
      Picture
    </div>
  </div>
</div>
<div class="col">
  <div class="" [@listAnimation]="photos.lenth">
    <div *ngFor="let photo of photos">
      <img src="{{photo}}" alt="" width="100" height="100">
    </div>
  </div>
  <hr>
  <div @slideInParentAnimation>
    Parent-child
    <div class="picture sliding-element">
      <div class="picture-text" @slideInChildAnimation>
        <span class="sliding-child-element">Picture </span>
      </div>
    </div>
  </div>
  <hr>
  <div class="picture" @groupAnimation>
    Group
  </div>
  <hr>
  <div class="picture" @sequenceAnimation>
    Sequence A.
  </div>
</div>
